
.vs/tiny814-clock/v14/.atsuo
tiny814-clock.atsln
tiny814-clock/Debug/main.d
tiny814-clock/Debug/main.o
tiny814-clock/Debug/makedep.mk
tiny814-clock/Debug/Makefile
tiny814-clock/Debug/tiny814-clock.eep
tiny814-clock/Debug/tiny814-clock.elf
tiny814-clock/Debug/tiny814-clock.hex
tiny814-clock/Debug/tiny814-clock.lss
tiny814-clock/Debug/tiny814-clock.map
tiny814-clock/Debug/tiny814-clock.srec
tiny814-clock/Release/main.d
tiny814-clock/Release/main.o
tiny814-clock/Release/makedep.mk
tiny814-clock/Release/Makefile
tiny814-clock/Release/tiny814-clock.eep
tiny814-clock/Release/tiny814-clock.elf
tiny814-clock/Release/tiny814-clock.hex
tiny814-clock/Release/tiny814-clock.lss
tiny814-clock/Release/tiny814-clock.map
tiny814-clock/Release/tiny814-clock.srec
tiny814-clock/tiny814-clock.componentinfo.xml
tiny814-clock/tiny814-clock.cproj
tiny814-clock/Debug/mytime.o
tiny814-clock/Debug/mytime.d
